<configuration>
    <appender name="awslambda" class="org.jlib.cloud.aws.lambda.logback.AwsLambdaAppender">
        <encoder type="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                <!-- Logging object is responsible for setting MDC variables (i.e. AWSRequestId and FormstackAccountId) -->
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] &lt;AWSRequestId:%X{AWSRequestId:-request-id-not-set}&gt; &lt;FormstackAccountId:%X{FormstackAccountId:-formstack-account-id-not-set}&gt; %-5level %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="awslambda" />
    </root>
</configuration>